.container{
    margin: 0 auto;
    padding: 20px;
    width:800px;
    height:600px;
    background-color: lightgray;
    border-bottom:1px solid gray;
    border-top:1px solid gray;
    border-radius: 5px;
}
.titlePost{
    margin-bottom: 50px;
}
.inp{
    display: block;
    width: 300px;
    font-size: 30px;
    height: 80px;
    border-radius: 5px;
    background-color: white;
}
