.container{
    margin: 0 auto;
    padding: 20px;
    max-width:800px;
    height:600px;
    background-color: lightgray;
    border-bottom:1px solid gray;
    border-top:1px solid gray;
    border-radius: 5px;
}
.titlePost{
    margin-bottom: 50px;
}
.inp{
    width: 400px;
    height: 35px;
    border-radius: 8px;
}
.textarea{
width: 400px;
    height: 100px;
}
.label{
    margin-top: 20px;
    display: block;
    font-size: 20px;
}
.inp_url{
    height: 40px !important;
    width: 400px;
}
@media(max-width: 500px){
    .inp{
        width: 300px;

    }
    .inp_url{

        width: 300px;
    }
    .textarea{
        width: 300px;

    }
}
