
.component_header {
margin-bottom: 20px;
}

.img {
    max-width: 2600px;
    max-height: 300px;
    background: url("https://upload.wikimedia.org/wikipedia/commons/1/14/Panorama_puy_de_dome_sud.jpg") center 80%;
    background-size: cover;
}

