*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content {
    max-width: 500px;
    margin: 20px auto;
}

.app__input, .app__end {
    text-align: center;
}

.app__end {
    margin-top: 40px;
}



.app__gen-number {
    text-align: center;
}

.app__divider {
    color: rgba(91,114,127,1);
    margin: 20px 0;
}

.app__number {
    font-size: 36px;
    color: rgba(244, 89, 87, 1);
}

.app__info:before,
.app__info:after {
    content: ' ';
    display: table;
}

.app__info:after {
    clear: both;
}

.app__info {
    margin: 20px 0;
}

.app__level {
    float: left;
    color: rgba(244, 192, 37, 1);
}

.app__wrong {
    float: right;
    color: rgba(244, 89, 87, 1);
}

.app__author {
    font-family: Helvetica, Arial;
    position: fixed;
    bottom: 20px;
    right: 30px;
    color: rgba(33, 150, 243, 1);
    text-decoration: none;
}
